venv
.env
.ipynb_checkpoints

pycache/
*.py[cod]
*$py.class
*.so

.vscode/

build/
dist/
*.egg-info/

*.db
*.sqlite3

*.log


*.db
*.sqlite3


.DS_Store
Thumbs.db


.pytest_cache/
.coverage
htmlcov/


temp/
tmp/


.langchain/


uploads/


chroma_db/
faiss_index/

Secrets

secrets.json
credentials.json


node_modules/

Streamlit

.streamlit/secrets.toml

data/
*.pdf